%h1 Listing streams

%table
  %tr
    %th Hashtag
    %th
    %th
    %th

  - @streams.each do |stream|
    %tr
      %td= stream.hashtag
      %td= link_to 'Show', stream
      %td= link_to 'Edit', edit_stream_path(stream)
      %td= link_to 'Destroy', stream, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Stream', new_stream_path
